###> Defaults ###
/.env.local
/.env.local.php
/.env.*.local
/var/
/vendor/
.idea
###< Defaults ###

###> ExactOnline ###
/src/Entity
!/src/Entity/README.md
/src/Resources/ExactDocumentationCache
/dev/.env.local
###< ExactOnline ###